[submodule "orchestrator-and-auth"]
	path = orchestrator-and-auth
	url = https://github.com/luchoman08/orchestrator-and-auth
[submodule "project-managers-interface"]
	path = project-managers-interface
	url = https://github.com/luchoman08/project-managers-interface
[submodule "user-stories-assignment-service"]
	path = user-stories-assignment-service
	url = https://github.com/luchoman08/user-stories-assignment-service
[submodule "software-project-management-frontend"]
	path = software-project-management-frontend
	url = https://github.com/luchoman08/software-project-management-frontend/
[submodule "task-assignment-service"]
	path = task-assignment-service
	url = https://github.com/luchoman08/task-assignment-service
